[submodule "Lab11"]
	path = Lab11
	url = https://github.com/Anara-hayat/Lab11.git
[submodule "Lab12"]
	path = Lab12
	url = git@github.com:Anara-hayat/Lab12.git
[submodule "Lab13"]
	path = Lab13
	url = git@github.com:Anara-hayat/Lab13.git
[submodule "cc-anara-hayat-2023-bse-008"]
	path = cc-anara-hayat-2023-bse-008
	url = https://github.com/Anara-hayat/Lab14.git
[submodule "Lab14"]
	path = Lab14
	url = https://github.com/Anara-hayat/Lab14.git
[submodule "LabProject_FrontendBackend"]
	path = LabProject_FrontendBackend
	url = https://github.com/Anara-hayat/LabProject_FrontendBackend.git
[submodule "Assignment1"]
	path = Assignment1
	url = git@github.com:Anara-hayat/assignment1.git
